<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>


    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/admin" class="">Connect</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <!-- aria-expanded says whether something is visible and can be used-->
        <a href="/logout">
            Logout
        </a> 

    </div>
</header>