<div class="searchBar">
    <div class="container">
        <!--action => where to send the data in form when done-->
        <form action="/search" class="search__form" method="POSt"> 

            <input 
            type="search" 
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site..."
            />

        </form>

        <div id="searchClose"></div>
    </div>
</div>