<div class="searchBar">
    <div class="container">
        <!-- role => helps with accessibility (like window/browser keybinds)  -->
        <form action="/search" method="POST" class="search__form" role="search">
            <input 
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site..."
            >
        </form>
        <div id="searchClass">Close</div>
    </div>
</div>