<div class="author">
    <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
    <ul class="articles__ul">
        <% data.forEach(post => { %> <!--LOOPS OVER DATA TO PLACE ALL THE POSTS-->
            <li>
                <a href="/post/<%=  post._id %>">
                    <span><%=  post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>
</section>